<html>
    <head>

    </head>
    <body>
        <html>
    <head>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/dashboard.css') }}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

    </head>
    <body>
        <div class="sidebar">
            <div class="dashpic" >
                <img src="../static/images/user.jpg" alt="1">
                <a href="/dashboard">Dashboard</a>
            </div>
            <div class="dashpic">
                <img src="../static/images/user.jpg" alt="1">
                <a href="/tasks">My Tasks</a>
            </div>
            <div class="dashpic">
                <img src="../static/images/user.jpg" alt="1">
                <a href="team">My Team</a>
            </div>
            <div class="dashpic">
                <img src="../static/images/user.jpg" alt="1">
                <a href="team">TBD</a>
            </div>
            <div class="dashpic">
                <img src="../static/images/user.jpg" alt="1">
                <a href="team">TBD</a>
            </div>
            <div class="dashpic">
                <img src="../static/images/user.jpg" alt="1">
                <a href="team">TBD</a>
            </div>
        </div>


        <div class="content">
            <div class="topdiv">
                <img src="{{url_for('static', filename='images/user.jpg')}}"/>
                <div class="topcontent">
                    <p>    Hello {{user}}
                    </p>
                    <p>    Your talent determines what you can do. Your motivation determines how much you are willing to do. Your attitude determines how well you do it.</p>
                </div>
            </div>
            <div class="bottomdiv">
            <div class="graphdiv">
                <canvas id="Chart" width="900" height="400"></canvas>
                <script>
                    var ctx = document.getElementById("Chart").getContext("2d");
                    var lineChart = new Chart(ctx,{
                        type: "doughnut",
                        data: {
                            labels : [
                                'Completed',
                                'In Progress',
                                'To-do'
                            ],
                            datasets: [{
                                label: 'My First Dataset',
                                data:{{values}},
                                backgroundColor: [
                                '#7ac994',
                                '#7CD2F5',
                                '#ff9797'
                                ],
                                hoverOffset: 4
                            }]
                        },
                        
                    });
                </script>

            </div>
            <div class="formdiv">
                <form action="/issueadded" method="post">
                    <label>Enter Description</label>
                    <input type="text" name="desc" />
                    <label>Assign to</label>
                    <input type="text" name="assigned" />
                    <label>Status</label>
                    <select name="status">
                        <option value="completed">Completed</option>
                        <option value="inprogress">In Progress</option>
                        <option value="todo">To do</option>
                    </select>
                    <input type="submit" />
                </form>

            </div>
        </div>
        </div>

    </body>
</html>        
    </body>
</html>