<html>
    <head>

    </head>
    <body>
        <html>
    <head>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/dashboard.css') }}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

    </head>
    <body>
        <div class="sidebar">
            <a href="/dashboard">Dashboard</a>
            <a href="/tasks">My Tasks</a>
            <a href="team">My Team</a>
        </div>
        <div class="content">
            <div class="topdiv">
                <img src="{{url_for('static', filename='images/user.jpg')}}"/>
                <div class="topcontent">
                    <p>    Hello {{user}}
                    </p>
                    <p>    Your talent determines what you can do. Your motivation determines how much you are willing to do. Your attitude determines how well you do it.</p>
                </div>
            </div>
            <div class="graphdiv">
                <canvas id="lineChart" width="900" height="400"></canvas>
                <script>
                    var ctx = document.getElementById("lineChart").getContext("2d");
                    var lineChart = new Chart(ctx,{
                        type: "line",
                        data: {
                            labels : {{ labels | safe }},
                            datasets:[
                                {
                                label: "Data points",
                                data:{{ values | safe}},
                                fill: false,
                                borderColor: "rgb(75,192,192)",
                                lineTension: 0.1
                                }
                            ]
                        },
                        options:{
                            responsive: false
                        }
                    });
                </script>

            </div>
        </div>

    </body>
</html>        
    </body>
</html>