<!DOCTYPE html>
<head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/newdashboard.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/6884e3f1ae.js" crossorigin="anonymous"></script>

    <title>DashBoard</title>
</head>
<body>
    <div class="outerpage">
        <div class="webpage">
            <div class="login">
                Welcome, Alay
                <img src="../static/images/person.png" alt="">
            </div>
            <div class="sidebar">
                <div class="dashpic" >
                    <img src="../static/images/icons8-dashboard-60.png" alt="1">
                    <a href="/dashboard">Dashboard</a>
                </div>
                <div class="dashpic">
                    <img src="../static/images/icons8-add-reminder-50.png" alt="1">
                    <a href="/tasks">My Tasks</a>
                </div>
                <div class="dashpic">
                    <img src="../static/images/icons8-team-58.png" alt="1">
                    <a href="team">My Team</a>
                </div>
                <div class="dashpic">
                    <img src="../static/images/icons8-add-80.png" alt="1">
                    <a href="/add">Add Task</a>
                </div>
                <div class="dashpic">
                    <img src="../static/images/icons8-tasks-50.png" alt="1">
                    <a href="/update">Update Task</a>
                </div>
                <div class="dashpic">
                    <img src="../static/images/icons8-calendar-50.png" alt="1">
                    <a href="/calendar">My Calendar</a>
                </div>
                <div class="dashpic">
                    <img src="../static/images/icons8-chat-50.png" alt="1">
                    <a href="/chat">Chat</a>
                </div>
                <div class="dashpic">
                    <img src="../static/images/icons8-logout-rounded-left-50.png" alt="1">
                    <a href="/login">Logout</a>
                </div>
            </div>

            <div class="mainpage">
              
                <div class="logo">
                    <img id="logoimg" src="../static/images/logo.png" alt="logo">
                </div>
                <div class="topleft">
                    <div class="graphdiv">
                        <canvas id="Chart" width="200" height="170"></canvas>
                        <script>
                            var ctx = document.getElementById("Chart").getContext("2d");
                            var lineChart = new Chart(ctx,{
                                type: "polarArea",
                                data: {
                                    labels : [
                                        'Completed',
                                        'In Progress',
                                        'To-do'
                                        ],
                                    datasets: [{
                                        data: {{ values }},
                                        backgroundColor: [
                                            'rgb(75, 192, 192)',
                                            'rgb(54, 162, 235)',
                                            'rgb(255, 99, 132)'
                                        ],
                                        hoverOffset: 4
                                    }]
                                    },
                                
                                    options: {
                                    
                                    legend: {
                                        display:false,
                                        position:'right',
                                        align: 'end',
                                        maxHeight: 5,
                                        maxWidth:5,
                                        padding:10
                                    }
                                }  });
                        </script>
                    </div>
                    <div class="legenddiv">
                        <p> <span class="dot1"></span> Completed - {{values[0]}}</p>
                        <p> <span class="dot2"></span> In Progress - {{values[1]}}</p>
                        <p> <span class="dot3"></span> To do - {{values[2]}}</p>
                    </div>

                </div>

                <div class="topright">
                    <br>
                    <p>High Priority issues:</p>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Project Name</th>
                                <th>Issue</th>
                            </tr>
                        </thead>
                        {% for pro in prioritydata %}
                            <tr>
                                {%for p in pro%}
                                    <td>{{p}}</td>
                                {%endfor%}
                            </tr>
                        {%endfor%}
                    </table>
                </div>

                <div class="bottom">
                <div class="bottomleft">
                    <div class="bottomleftup">
                        <p>Ongoing Projects:</p>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Project Name</th>
                                    <th>Issues Pending</th>
                                    <th>Manager</th>
                                </tr>
                            </thead>
                            {%for pr in projects%}
                                <tr>
                                    {%for i in pr%}
                                    <td>{{i}}</td>
                                    {%endfor%}
                                </tr>
                            {%endfor%}
                        </table>
                    </div>

                    <div class="bottomleftdown">
                        <div class="btl1">
                            <form action="/createmeet">
                                <table>
                                    <tr>
                                        <td>
                                            <td><input type="submit" value="Create meet" class="tablebutton"></td>
                                        </td>
                                    </tr>
                                </table>
                            </form>
                        </div>
                        <div class="btl2">
                            <form action="/joinmeet">
                                <table>
                                    <tr>
                                        <td>
                                            <input type="submit" value="Join Meet" class="tablebutton">
                                        </td>
                                    </tr>
                                </table>
                            </form>
                        </div>
                        <div class="btl3">
                            <form action="/schedulemeet">
                                <table>
                                    <tr>
                                        <td>
                                            <input type="submit" value="Schedule Meet" class="tablebutton">
                                        </td>
                                    </tr>
                                </table>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="bottomright">
                    <div class="velomap">

                        <canvas id="velocitychart" height="50" width="50"></canvas>
                        
                        <script>
                            var canelement = document.getElementById("velocitychart");
                            var config = {
                                type: 'bar',
                                data: {
                                    labels: ["1","2","3","4","5","6"],
                                    datasets: [
                                        {
                                            label: "Total Issues",
                                            data: {{first}},
                                            backgroundColor: [
                                            'rgb(255, 99, 132)',
                                            'rgb(255, 99, 132)',
                                            'rgb(255, 99, 132)',
                                            'rgb(255, 99, 132)',
                                            'rgb(255, 99, 132)',
                                            'rgb(255, 99, 132)'
                                           
                                            
                                            ],
                                        },
                                        {
                                            label: "Completed",
                                            data: {{second}},
                                            backgroundColor: [
                                            'rgb(75, 192, 192)',
                                            'rgb(75, 192, 192)',
                                            'rgb(75, 192, 192)',
                                            'rgb(75, 192, 192)',
                                            'rgb(75, 192, 192)',
                                            'rgb(75, 192, 192)'

                                            
                                            ],
                                        }
                                    ]
                                },
                                options: {
                                    scales: {
                                        yAxes:[{
                                            ticks:{
                                                beginAtZero:true
                                            }
                                        }]
                                    },

                                }
                                
                            }
                            
                            

                            var cookiechart = new Chart(canelement, config);
                        </script> 
                    </div>
                </div>
                </div>

            </div>
        </div>
    </div>
</body>
</html>