
.outerpage{
    /* border: 1px solid rgb(224, 14, 154); */
    margin: 30px 2% 30px 2%;
    height: 1200px;
    width: 96%;
    background-image: linear-gradient(#c7d0da,#8f9397);
    border-radius: 10px;
    padding-top: 50px;
}



.webpage{
    /* border: 1px solid rgb(224, 14, 154); */
    height: 1000px;
    width: 94%;
    background: linear-gradient(
        #3f008b 0%,
        #3f008b 35%,
        #eaeaf3 35%,
        #eaeaf3 100%
    );

    /* margin-top: 100px; */
    margin-left: 3%;
    margin-top: 2px;
    margin-right: 3% ;
    border-radius: 25px;

}

.sidebar{
  /* border: 1px solid black; */
  height: 800px;
  width: 18%;
  float: left;
  margin-top: 40px;
  margin-left: 3%;
  border-radius: 20px;
  background-color: white;


}
.sidebar a{
    color: black;
    margin-right: 25px;
    padding: 16px;
    text-decoration: none;
    font-weight: bold;
}

.dashpic{
    display: flex;
    color: black;
    border-radius: 50px;
    margin: 10px 0;
  }
  
  .dashpic img {
    margin-left: 10%;
    margin-top: 15px;
    width: 30px;
    height: 30px;
      }
     
  .login img {
    margin-left: 10%;
    width: 80px;
    height: 80px;
    border-radius: 50px;
      }

.mainpage{
    /* border: 1px solid black; */
    height: 800px;
    width: 75%;
    float: left;
    border-radius: 20px;
    margin-top: 0px;
    margin-right: 2%;
    margin-left: 1%;
    /* padding-left: 10%; */
}
.logo{
    margin-left: 17%;
    margin-bottom: 10px;
}
#logoimg{
    border-radius: 30px;
}

.formpage{
    /* border: 1px solid black; */
    height: 500px;
    width: 80%;
    padding-left: 20%;

}


.topleft{
    /* border: 1px solid black; */
    height: 300px;
    width: 70%;
    border-radius: 20px;
    float: left;
    margin-right: 2%;
    background-color: white;
    display: flex;
}
.graphdiv{
    height: 250px;
    width: 50%;
    margin-left: 5%;
    margin-top: 4%;
    }
.legenddiv{
    height: 250px;
    padding-left: 6%;
    padding-top: 5%;
    width:40%;
    margin-top: 4%;
    top: 0;
    float:left;
    font-weight: bold;
}
.dot1 {
    height: 25px;
    width: 25px;
    background-color: rgb(75, 192, 192);
    border-radius: 50%;
    display: inline-block;
  }
  .dot2 {
    height: 25px;
    width: 25px;
    background-color:rgb(54, 162, 235);
    border-radius: 50%;
    display: inline-block;
  }
  .dot3 {
    height: 25px;
    width: 25px;
    background-color:rgb(255, 99, 132);
    border-radius: 50%;
    display: inline-block;
  }
.topright{
    /* border: 1px solid black; */
    height: 300px;
    width: 28%;
    margin-left: 72%;
    border-radius: 20px;
    background-color: white;
    font-weight: bold;
    overflow: scroll;


}
.login{
    height: 50px;
    width: 20%;
    margin-left: 80%;
    padding-top: 40px;
    color: white;
    font-weight: bold;
}
.bottomleft{
    /* border: 1px solid rgb(167, 19, 19); */
    height: 420px;
    margin-top: 20px;
    width: 50%;
    float: left;
    margin-right: 4%;
    border-radius: 20px;
    /* background-color: white; */
    font-weight: bold;


}
.bottom{
    display: flex;
}
.bottomright{
    /* border: 1px solid rgb(167, 19, 19);   */
    height: 420px;
    width: 46%;
    border-radius: 20px;
    background-color: white;
    display: inline-block;
    margin-top: 20px;
}
.velomap{
    height: 420px;

    }

.bottomleftup{
    /* border: 1px solid rgb(167, 19, 19);   */
    height: 240px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 20px;
    background-color: white;
    padding: 5%;
    overflow: scroll;
}

.bottomleftdown{
    display: flex;
    /* border: 1px solid rgb(167, 19, 19);   */
    height: 160px;
    width: 100%;
    border-radius: 20px;
    font-weight: normal;

}
.btl1{
    /* border: 1px solid rgb(167, 19, 19);   */
    height: 160px;
    width: 31%;
    margin-right: 3%;
    border-radius: 20px;
    background-color: white;
    background-image: url('../images/meet.png');
    background-size:contain;
    background-repeat: no-repeat;
    padding-left: 2.5%;
    padding-top: 120px;
}
.tablebutton{
    border-radius: 20px;
    background-color: white;
    border: 2px solid #3F008B;
    font-weight: bold;
}
.tablebutton:hover{
    background-color: #3F008B;
    color: white;
    font-weight: bold;
}
.btl1 button{
    margin-top: 10px;
    border-radius: 15px;
}
.btl2 {
    /* border: 1px solid rgb(167, 19, 19);   */
    height: 160px;
    width: 31%;
    margin-right: 3%;
    border-radius: 20px;
    margin-left: 0.5%;
    background-image: url('../images/meet.png');
    background-size:contain;
    background-repeat: no-repeat;
    background-color: white;
    /* padding-left: 5%; */
    /* padding-top: 60px; */
    overflow: hidden;
    /* padding-right: 5px; */
    padding-left: 2.5%;
    padding-top: 120px;
}
.btl2 button{
    margin-top: 10px;
    border-radius: 15px;
}
.btl3{
    height: 160px;
    width: 31%;
    margin-right: 3%;
    border-radius: 20px;
    margin-left: 0.5%;
    background-image: url('../images/meet.png');
    background-size:contain;
    background-repeat: no-repeat;
    background-color: white;
    /* padding-left: 5%; */
    /* padding-top: 60px; */
    overflow: hidden;
    /* padding-right: 5px; */
    /* padding-left: 2.5%; */
    padding-top: 120px;
}
