
.outerpage{
    /* border: 1px solid rgb(224, 14, 154); */
    height: 1200px;
    width: 100%;
    background-image: linear-gradient(#c7d0da,#8f9397);
    border-radius: 10px;
    padding-top: 50px;
}



.webpage{
    /* border: 1px solid rgb(224, 14, 154); */
    height: 1000px;
    width: 94%;
    background: linear-gradient(
        #3f008b 0%,
        #3f008b 35%,
        #eaeaf3 35%,
        #eaeaf3 100%
    );

    /* margin-top: 100px; */
    margin-left: 3%;
    margin-top: 2px;
    margin-right: 3% ;
    border-radius: 25px;

}

.sidebar{
  /* border: 1px solid black; */
  height: 800px;
  width: 18%;
  float: left;
  margin-top: 40px;
  margin-left: 3%;
  border-radius: 20px;
  background-color: white;


}
.sidebar a{
    color: black;
    margin-right: 25px;
    padding: 16px;
    text-decoration: none;
    font-weight: bold;
}
.dashpic{
    display: flex;
    color: black;
    border-radius: 50px;
    margin: 10px 0;
  }
  
  .dashpic img {
    margin-left: 10%;
    margin-top: 15px;
    width: 30px;
    height: 30px;
      }
     
  .login img {
    margin-left: 10%;
    width: 80px;
    height: 80px;
    border-radius: 50px;
      }

.mainpage{
    /* border: 1px solid black; */
    height: 800px;
    width: 75%;
    float: left;
    border-radius: 20px;
    margin-top: 100px;
    margin-right: 2%;
    margin-left: 1%;

}


.topleft{
    /* border: 1px solid black; */
    height: 300px;
    width: 70%;
    border-radius: 20px;
    float: left;
    margin-right: 2%;
    background-color: white;
}
.graphdiv{
    height: 100px;
    width: 30%;
    margin-left: 15%;
    }

.topright{
    /* border: 1px solid black; */
    height: 300px;
    width: 28%;
    margin-left: 72%;
    border-radius: 20px;
    background-color: white;


}
.login{
    height: 50px;
    width: 20%;
    margin-left: 80%;
    padding-top: 40px;
    color: white;
    font-weight: bold;
}
.bottomleft{
    /* border: 1px solid rgb(167, 19, 19); */
    height: 420px;
    margin-top: 20px;
    width: 58%;
    float: left;
    margin-right: 4%;
    border-radius: 20px;
    /* background-color: white; */


}

.bottomright{
    /* border: 1px solid rgb(167, 19, 19);   */
    height: 420px;
    width: 40%;
    margin-left: 60%;
    margin-top: 20px;
    border-radius: 20px;
    background-color: white;
}

.bottomleftup{
    /* border: 1px solid rgb(167, 19, 19);   */
    height: 240px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 20px;
    background-color: white;
}

.bottomleftdown{
    display: flex;
    /* border: 1px solid rgb(167, 19, 19);   */
    height: 160px;
    width: 100%;
    border-radius: 20px;

}

.btl1{
    /* border: 1px solid rgb(167, 19, 19);   */
    height: 160px;
    width: 31%;
    margin-right: 3%;
    border-radius: 20px;
    background-color: white;


}

.btl2 {
    /* border: 1px solid rgb(167, 19, 19);   */
    height: 160px;
    width: 31%;
    margin-right: 3%;
    border-radius: 20px;
    margin-left: 0.5%;
    background-color: white;



}

.btl3{
    /* border: 1px solid rgb(167, 19, 19);   */
    height: 160px;
    width: 31%;
    border-radius: 20px;
    margin-left: 0.5%;
    background-color: white;


}